body {
    font-family: sans-serif;
}

.container {
    /* border: 2px solid slategrey; */
    box-shadow: 10px 5px 8px #888888;
    border-radius: 10px;
    max-width: 1140px;
    margin: 15vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h1 {
    font-size: 6rem;
    color: #666;
}

.btn {
    font-size: 3rem;
    color: #fff;
    background-color: steelblue;
    border: none;
    padding: 10px;
    margin-bottom: 50px;
}

.btn:hover {
    color: steelblue;
    background-color: #fff;
    border: solid 2px steelblue;
}

.numbers {
    font-size: 4rem;
    margin-bottom: 30px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px
}